<label
  class="log-row px-2 {{ entry.level }} py-0.5 rounded transition-colors block"
  [class.selected]="isSelected()"
  [for]="entry.uuid"
>
  <span class="flex items-center justify-center w-6 shrink-0">
    <input
      class="mt-0.5 accent-primary rounded-sm size-3 cursor-pointer"
      type="checkbox"
      [checked]="isSelected()"
      (change)="toggleSelected()"
      [id]="entry.uuid"
    />
  </span>
  <span class="text-outline-variant shrink-0 text-xs w-25 tabular-nums">
    {{ entry.timestamp }}
  </span>
  <span class="level w-6 shrink-0 font-bold text-center text-xs">
    {{ entry.level }}
  </span>
  <span class="text-outline w-40 shrink-0 truncate pr-2 text-xs">{{ entry.tag }}</span>
  <span class="message flex-1 break-all" [innerHTML]="formatMessage()"></span>
</label>
